<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Danveer</title>

        <!-- Bootstrap CSS CDN -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

        <!--Add custom CSS for styling here, later on-->
    </head>

    <body class="bg-dark text-light">
        <!--navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand text-light" href="#">Danveer</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link active text-light" aria-current="page" href="{% url 'home' %}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" href="{% url 'register' %}">Register</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" href="{% url 'login' %}">Login</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <!--Main content put here-->
        <div class="container mt-4">
            {% block content %}
            {% endblock %}
        </div>

        <!-- Footer -->
        <footer class="bg-dark text-center py-3">
            <p>&copy; 2024 Danveer. All rights reserved.</p>
        </footer>

        <!-- Bootstrap JS and Popper.js -->
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz4fnFO9gyb8E0B6w5hHDAHfjA5Hla2UHpZ5os6Qn4LldKHIxX0lW7k5Rm" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-pzjw8f+ua7Kw1TIq0v8FqFjcJ6a7zH8erfZ6JfFwG/JzM7h9lDUM6zQ6gs8UBmd4" crossorigin="anonymous"></script>

    </body>
</html>